* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('paris-bg-2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#weather {
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;
}

#plot-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#chart {
    width: 60%;
}